<template id="progress">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" id="progress_bar" role="progressbar" style="width:0"></div>
    </div> 
</template>

<template id="student_table">
    <table class="table table-hover table-striped table-sm table-bordered" id="table_main">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>M.I</th>
            <th>Degree</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Year</th>
            <th>Section</th>
            <th>Email</th>
            <th>Contact No.</th>
          </tr>
        </thead>
      </table>
</template>


