{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid h-100 px-0 d-none" id="content">
<nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
        <strong><h1 class="lead text-white" id="brand">Student Central Database <i class="fas fa-database"></i></h1></strong>
        <div class="row"><img class="img-fluid rounded-circle my-0 mx-2" style="height:25px" id="icon">
        <strong><h1 class="lead text-white" id="logout">Logout <i class="fas fa-sign-out-alt"></i></h1></strong></div>
    </div>
</nav>
<div class="modal" id="student_modal" tabindex="-1" role="dialog" aria-labelledby="student_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg animated zoomIn faster" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="student_modalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-4 d-flex justify-content-center">
                      <img class="img-fluid" id="mod_pic">
                  </div>
                  <div class="col-8">
                    <div class="lead mb-3" id="mod_name">
                    </div>
                    <div class="h6" id="mod_email">
                    </div>
                    <div class="h6" id="mod_contact_number">
                    </div>
                    <div class="h6" id="mod_gender">
                    </div>
                    <div class="h6" id="mod_birthday">
                    </div>
                    <div class="h6" id="mod_age">
                    </div>
                    <div class="h6" id="mod_address">
                    </div>
                    <div class="h6" id="mod_guardian">
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="row mx-0 mt-4 d-block">
        <strong><h1 class="lead text-dark animated zoomInUp" id="school"></h1></strong>
        <ul class="list-inline">
            <li class="list-inline-item animated zoomInUp" id="degree"></li>
            <li class="list-inline-item animated zoomInUp" id="year_section"></li>
            <li class="list-inline-item animated zoomInUp" id="school_year"></li>
          </ul>   
    </div>
    <div class="row mx-0 mt-4">
            <div class="card w-100 border-0 animated zoomInUp">
              <div class="card-header border-0" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <h5 class="collapsed text-dark tools" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
                    Search Tools <i class="fas fa-wrench"></i>
                  </h5>
                </h5>
              </div>
              <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <h6>Strong Search <i class="fas fa-search"></i></h6>
                            <div class="row pl-2">
                                <div class="col px-1 my-1">
                                    <input type="text" class="form-control" id="strong_search" placeholder="All Columns">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <h6>Entries <i class="fas fa-list-ol"></i></h6>
                            <div class="row pl-2 pt-1">
                                <select class="form-control" id="entries">
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="15">15</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="row d-flex justify-content-between px-3">
                                <h6>Filters <i class="fas fa-filter"></i></h6>
                                <h6 id="reset" data-id="1">Reset <i class="fas fa-redo"></i></h6>
                            </div>
                            <div class="row pl-2">
                                <div class="col-3 px-1 my-1">
                                    <input type="text" class="form-control filter" id="index" placeholder="Index #">
                                </div>
                                <div class="col-3 px-1 my-1">
                                    <input type="text" class="form-control filter" id="student_id" placeholder="Student ID">
                                </div>
                                <div class="col-3 px-1 my-1">
                                    <input type="text" class="form-control filter" id="first_name" placeholder="First Name">
                                </div>
                                <div class="col-3 px-1 my-1">
                                    <input type="text" class="form-control filter" id="last_name" placeholder="Last Name">
                                </div>
                                <div class="col-3 px-1 my-1">
                                    <input type="text" class="form-control filter" id="middle_initial" placeholder="M.I">
                                </div>
                                <div class="col-3 px-1 my-1">
                                    <select class="form-control filter" id="gender">
                                        <option disabled selected hidden value="">Gender</option>
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                        <option value="">Both</option>
                                      </select>
                                </div>
                                <div class="col-3 px-1 my-1">
                                    <input type="text" class="form-control filter" id="email" placeholder="Email">
                                </div>
                                <div class="col-3 px-1 my-1">
                                    <input type="text" class="form-control filter" id="contact_number" placeholder="Contact No.">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
    </div>
    <div class="row d-inline animated zoomInUp slower" id="main">


    </div>
</div>
</div>
<script src="{% static 'js/process/checker.js' %}"></script>
<script src="{% static 'js/process/dt.js' %}"></script>
{% endblock content %}